
.board-container {
    background-color: #EEE;
    border-radius: 5px;
    /*padding: 6px 23px;*/
    padding:6px 23px 30px 23px;
    margin: 18px 0px;
}
.list-container {
    background-color: white;
    width: 100%;
    display: inline-block;
    margin: 5px;
    padding: 0px 10px;
}

.addListButtonContainer {
    margin-left: 18px;
    margin-bottom: 10px;
}

.addListButtonContainer button:hover {
    border-color: yellow;
    background-color: white;
}

.list-title {
    width: 50%;
    display: inline-block;
}

.list-delete-container {
    width: 48%;
    display: inline-block;
    text-align: right;
}

.list-head {
    width: 100%;
    display: inline-block;
}

.board-title {
    width: 48%;
    display: inline-block;
}

.board-delete-container{
  width: 50.7%;
display: inline-block;
text-align: right;
}

span.glyphicon.glyphicon-remove.js-card-delete-button {
    opacity: 0.4;
    cursor: pointer;
    transform: scale(1.1);
}

span.glyphicon.glyphicon-remove.js-card-delete-button:hover {
    color: red;
    opacity: 0.6;
}

.card-container {
    border: 2px solid #EEE;
    margin: 19px 0px;
    height: 115px;
    background-color: white;
}

.addCardButtonContainer {
    margin: 15px 15px;
    text-align: right;
}

.card-head {
    width: 100%;
    display: inline-block;
}

.card-title {
    display: inline-block;
    width: 50%;
}

.card-delete-container {
    display: inline-block;
    width: 48%;
    text-align: right;
}

#heart {
               position: relative;
               left: 80px;
               height: 130px;
               width:140px;
}

#heart:before, #heart:after {
               position: absolute;
               content: "";
               left: 70px;
               top: 0;
               width: 70px;
               height: 120px;
               background-color:#056;
  /*border-radius*/
              -webkit-border-radius: 50px 50px 0 0;
              -moz-border-radius: 50px 50px 0 0;
              border-radius: 50px 50px 0 0;
/*transform*/
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
               transform: rotate(-45deg);
/*transform-origin*/
               -webkit-transform-origin: 0 100%;
               -moz-transform-origin: 0 100%;
               -ms-transform-origin: 0 100%;
               -o-transform-origin: 0 100%;
               transform-origin: 0 100%;
}

#heart:after {
               left: 0;
/*transform*/
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
/*transform-origin*/
              -webkit-transform-origin: 100% 100%;
              -moz-transform-origin: 100% 100%;
              -ms-transform-origin: 100% 100%;
              -o-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
       }
