
.board-container {
    background-color: #EEE;
    border-radius: 5px;
    /*padding: 6px 23px;*/
    padding:6px 23px 30px 23px;
    margin: 18px 0px;
}
.list-container {
    background-color: white;
    width: 100%;
    display: inline-block;
    margin: 5px;
    padding: 0px 10px;
}

.addListButtonContainer {
    margin-left: 18px;
    margin-bottom: 10px;
}

.addListButtonContainer button:hover {
    border-color: yellow;
    background-color: white;
}

.list-title {
    width: 50%;
    display: inline-block;
}

.list-delete-container {
    width: 48%;
    display: inline-block;
    text-align: right;
}

.list-head {
    width: 100%;
    display: inline-block;
}

.board-title {
    width: 48%;
    display: inline-block;
}

.board-delete-container{
  width: 48%;
display: inline-block;
text-align: right;
}

.card-container {
    border: 2px solid #EEE;
    margin: 19px 0px;
    height: 115px;
}
