<template name="add_board_button">
  <div class="addBoardButtonContainer">
    <button name="addBoardButton" class="btn btn-primary js-show-board-form" >Add A Board</button>
  </div>
</template>

<template name="add_board_form">
  <div class="modal fade" id="add_board_form" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Enter a Board name</div>
      </div>
      <div class="modal-body">
        <form class="js-add-board">
          <input type="text" name="board_name"/>
          <button class="btn btn-success">Create</button>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
</template>
