<template name="add_list_button">
  <button type="button" data-boardid="{{boardid}}" class="btn btn-default btn-sm js-show-list-form">Add New List</button>
</template>

<template name="add_list_form">
  <div class="modal fade" id="add_list_form" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Enter a List name</div>
      </div>
      <div class="modal-body">
        <form class="js-add-list">
          <input id="form-list-name" type="text" name="list_name"/>
          <button  class="btn btn-success">Create List</button>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
</template>
