<template name="card">
<div class="container-fluid sortable">

  {{#each card listId}}
  <div class="row card-container draggable" id="{{_id}}" board-is="{{this.parent._id}}">
    <div class="col-md-12">
      <!-- <div class="card-container"> -->

        <div class="card-head">
          <div class="card-title">
            <h5>{{card_name}}</h5>
          </div>
          <div class="card-delete-container">
            <span class="glyphicon glyphicon-remove js-card-delete-button"></span>
          </div>
        </div>

    <!-- </div> -->
    </div>
  </div>
  {{/each}}
</div>

</template>
